@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.RailwayDetailsBackground {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.2)),
    url("/src/Components/images/2.jpg");
  height: inherit;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.label-checkbox {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
